.padding-0{padding: 0px;}
._1portfolio_all{}
._1portfolio_bg {
	background-size: cover;
	background-position: center;
}
._1portfolio_bg::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .85;
}
._1portfolio_title_div {
    position: absolute;
    top: -137px;
    left: 50%;
    width: 538px;
    height: 200px;
    transform: translateX(-50%);
    background-color: #101010;
    padding: 60px 0 0;
    z-index: -1;
}
._1portfolio_title_div ._2title {
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
    text-transform: capitalize;
    font-weight: 900;
    color: #1b5bda;
    color: #9e210a;
    margin: 0;
}
._1portfolio_title_text {
    text-align: center;
    color: #8e8d8d;
    line-height: 23px;
    margin: 6px 0 2px;
    font-size: 16px;
    font-family: small;
}
._1portfolio_des {
    position: relative;
    margin: 19px 0px 68px;
    z-index: 1;
    padding: 45px 0 0;
}
._1portfolio_des::before {
    position: absolute;
    content: '';
    top: 97px;
    left: 50%;
    transform: translateX(-50%);
    height: 59px;
    border-right: 1px solid #393939;
}
._1portfolio_des_left_pera, ._1portfolio_des_right_pera {
    font-size: 13px;
    line-height: 22px;
}
._1portfolio_des_left, ._1portfolio_des_right {
    width: 470px;
    margin-left: 39px;
    padding: 25px 21px;
    position: relative;
    transition: .4s;
    top: 0;
}
/* ._1portfolio_des_right {
	width: 459px;
	padding: 25px 21px;
	margin-left: 36px;
} */
._1portfolio_des_left_pera {
    text-align: right;
}
._1portfolio_content {
    z-index: 2;
    position: relative;
}
._1portfolio_section_items:hover ._1portfolio_cont_img {
    transform: scale(1.3);
    transition: .7s all ease;
}
._1portfolio_cont_img {
	height: 100%;
    transition: .3s all ease;
}
._1portfolio_content_right {
	padding: 0px 0px;
}
._1portfolio_content_right_title {
    font-size: 21px;
    position: relative;
    padding-bottom: 6px;
    margin: 0 00 23px 37px;
    font-weight: bold;
    color: #fff;
}
._1portfolio_content_right_title::before, ._1portfolio_content_right_title::after {
    position: absolute;
	content: '';
    height: 1px;
    background-color: #1b2631;
    left: 0;
}
._1portfolio_content_right_title::before {
    bottom: 0px;
    width: 81px;
}
._1portfolio_content_right_title::after {
	bottom: -3px;
	width: 57px;
}
._1portfolio_cont_pera {
    line-height: 19px;
    font-size: 13px;
    padding: 0 0 0 69px;
    opacity: .6;
}
._1portfolio_content_left {
    /*height: 347px;*/
    position: relative;
}
._1portfolio_content_left:before, ._1portfolio_content_left:after,
._1portfolio_content_hover:before, ._1portfolio_content_hover:after{
    border-color: #393939 !important;
}
._1portfolio_content_left:before {
    position: absolute;
    content: '';
    top: 31px;
    left: 31px;
    width: 71px;
    height: 71px;
    border-top: 1px solid;
    border-left: 1px solid;
    z-index: 1;
}
._1portfolio_content_left:after {
    position: absolute;
    content: '';
    position: absolute;
    content: '';
    top: 31px;
    right: 31px;
    width: 71px;
    height: 71px;
    border-right: 1px solid;
    border-top: 1px solid;
}
._1portfolio_content_hover{
    position: relative;
    height: 100%;
    overflow: hidden;
    border: 1px solid #393939;
}
._1portfolio_content_hover:before {
    position: absolute;
    content: '';
    bottom: 30px;
    left: 30px;
    width: 71px;
    height: 71px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    z-index: 11;
}
._1portfolio_content_hover:after {
    position: absolute;
    content: '';
    bottom: 31px;
    right: 31px;
    width: 71px;
    height: 71px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
._3btn:hover{
	background: #2e4256;
}
._3btn {
    border: none;
    background-color: transparent;
    font-size: 19px;
    text-transform: capitalize;
    background-color: #1b5bda;
    color: #fff;
    padding: 8px 29px;
    margin: 0;
    transition: .2s all ease;
    font-size: 14px;
    border-radius: 1px;
    background-color: #1B2631;
}
._1portfolio_card {
    margin-top: 43px;
    padding-bottom: 67px;
}
._1portfolio_cardpera {
	font-size: 13px;
	line-height: 20px;
	padding: 10px;
}
._1portfolio_single_card {
	position: relative;
}
._1portfolio_single_card_title {
	position: absolute;
	bottom: 124px;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 21px;
}
.wrapper::-webkit-scrollbar { 
    display: none; 
}
.wrapper::-webkit-scrollbar { width: 0 !important }
.wrapper { overflow: -moz-scrollbars-none; }
.wrapper { -ms-overflow-style: none; }
.wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
}
._1portfolio_header {
    position: relative;
    height: 459px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    overflow: hidden;
}
.parallax::after {
    content: " ";
    position: absolute;
    top: -154px;
    /* right: 0; */
    width: 100%;
    bottom: 0;
    left: 0px;
    /* transform: translateZ(-1px) scale(2); */
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}
._1portfolio_header::after {
    background-image: url(../../../assets/img/aesthetic.jpg);
    background-attachment: fixed;
}
._1portfolio_section{}
._1portfolio_section .col-md-6, ._1portfolio_content .col-lg-6{
	padding: 0px;
}
._1portfolio_section .row{
	margin-left: 0px;
	margin-right: 0px;
}
._1portfolio_content_right_button {
    margin: 23px 0px 0px 37px;
}
._1portfolio_content_two {
    text-align: right;
}
._1portfolio_content_two ._1portfolio_content_right_title {
    margin: 0 37px 23px 0px;
}
._1portfolio_content_two ._1portfolio_content_right_title::before, 
._1portfolio_content_two ._1portfolio_content_right_title::after {
    right: 0;
    left: inherit;
}
._1portfolio_content_two ._1portfolio_cont_pera {
    padding: 0 69px 0 0px;
}
._1portfolio_content_two ._1portfolio_content_right_button {
    margin: 23px 37px 0px 0px;
}
._1card:hover ._1card_img {
    transition: .3s all ease;
}
._1card:hover ._1card_text{
    bottom: 0px;
    transition: .3s all ease;
}
._1card {
    transition: .3s all ease;
    cursor: pointer;
}
._1card_pic {
    position: relative;
    overflow: hidden;
    border: 1px solid;
}
._1card_img{
    transition: .4s all ease;
}
._1card_bottom {
    text-align: center;
}
._1card_title {
    font-weight: bold;
    font-size: 17px;
    margin: 11px 0px 8px;
}
._1card_text {
    position: absolute;
    bottom: -100%;
    transition: .4s all ease;
    background: #0000005c;
    text-align: center;
    color: #fff;
    padding: 13px 0 10px;
}
._1card_text_value{
        font-size: 13px;
    padding: 0 10px 0;
    line-height: 17px;
}
