._1col2{}
._1col2_main {
   
}
._1gallery_main_alls{}


/*Card Threee*/
._3card {
    width: auto;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    border: 1px solid;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}
._3card_main {
    height: 100%;
}
._3card_img {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}
._3card_content:before, ._3card_content:after {
    position: absolute;
    content: '';
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-color: #eee !important;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 50%;
    left: 50%;
    transition: transform 0.3s ease;
}
._3card_content:before {
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 113%;
    height: 95%;
    -webkit-transform: translate(-50%, -50%) scale(0,1);
    transform: translate(-50%, -50%) scale(0,1);
}
._3card_content:after {
    border-left: 1px solid;
    border-right: 1px solid;
    height: 113%;
    width: 95%;
    -webkit-transform: translate(-50%, -50%) scale(1,0);
    transform: translate(-50%, -50%) scale(1,0);
}
._3card_content {
    position: absolute;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%, -50%);
    padding: 12px 32px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    width: 78%;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    top: 50%;
    height: 71%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
._3card_content_title strong{

}
._3card_content_title {
    color: #333;
    font-size: 27px;
    margin: 0 0 4px;
    position: relative;
    z-index: 1;
    top: -17px;
    font-family: small;
    transition: .3s all ease;
}
._3card_content_text {
    font-size: 12px;
    transition: .3s all ease;
    z-index: 1;
    position: relative;
    font-weight: bold;
    opacity: 0;
    bottom: -9px;
    color: #777;
}
._3card:hover ._3card_content_text {
    opacity: 1;
    bottom: 0px;
}
._3card:hover ._3card_content_title {
    top:0px;
}
._3card:hover ._3card_content:after {
    -webkit-transform: translate(-50%, -50%) scale(1,1);
    transform: translate(-50%, -50%) scale(1,1);
    transition: transform 0.3s ease;
}
._3card:hover ._3card_content:before {
    -webkit-transform: translate(-50%, -50%) scale(1,1);
    transform: translate(-50%, -50%) scale(1,1);
    transition: transform 0.3s ease;
}
._3card:hover ._3card_content {
    background: #ffffffb8;
}
._3card:hover ._3card_img{
    transform: scale(1.2,1.2);
}
._3card:hover{}
/*Card Threee*/
